<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/marcinbunsch/linear-quick-entry/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>3JOv5Crq3rZN5JF0Bl8W0kfiiwtx0z+pOjQFe530Cic=</string>
</dict>
</plist>
